* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background-image: url("../img/header-bg.jpg");
  max-height: 18vh;
  height: 18vh;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  background-position: center center;
  overflow: hidden;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
}
header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px; /* Adjust the border height as needed */
  background-color: #dcb97a;
}

@media (max-width: 768px) {
  header {
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
  }
}

/* /Cards/  */
.overlay {
  display: none;
  position: fixed;
  top: -24px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  overflow: hidden;
}

.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 30%;
  height: 70%;
  overflow: hidden;
}

.image-container {
  height: 100%;
  width: 100%;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
  font-size: 24px;
}

.popup-container.active {
  display: block;
}

.popup-container img {
  width: 100%;
  margin-bottom: 0px;
}

.popup-container a.hyper-width {
  width: 50% !important;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .popup-container {
    width: 50%;
    height: auto;
    max-height: 75%;
    padding: 2px;
  }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
  .popup-container {
    width: 80%;
    height: auto;
    max-height: 75%;
    padding: 2px;
  }

  .close-icon {
    font-size: 20px;
  }
}

/* /Footer/ */
footer {
  margin-top: 10rem;
}

a {
  text-decoration: none;
  color: #68da86;
  transition: 0.3s;
}

a:hover {
  color: #1f4234;
}

footer {
  background-color: #757575;
}

span {
  color: #fff;
}

.email-container {
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: 769px) and (max-width: 1458px) {
  .popup-container {
    height: auto;
    max-height: 70%;
    padding: 0px;
    overflow: hidden;
  }
}
/*  */
@media (max-width: 1586px) {
  header {
    position: relative;
    left: 0;
  }
}
/*  */
@media (min-width: 763px) and (max-width: 991px) {
  header {
    height: 82px;
  }
}
@media (max-width: 653px) {
  header {
    height: 51px;
  }
}
@media (max-width: 352px) {
  header {
    height: 35px;
  }
}
.layer {
  background-color: #25613d;
  transition: all 0.5s;
  opacity: 0;
}

figure:hover .layer {
  opacity: 1;
}

.overlayImage {
  background-color: rgb(13 110 253 / 20%);
  inset: 0;
  z-index: 1;
}
.overlayImage .w-35 {
  width: 35%;
}
.overlayImage figure .layerBoxImage {
  inset: 0;
}
.layerBoxImage i {
  background-color: #2c3e50;
  border: 3px solid #fff;
  cursor: pointer;
}
